.button {
  display: block;
  height: 200px;
  width: 200px;
  background: #0bdf00;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 3.2em/200px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.button {
  text-decoration: none;
}

#head {
  width: 100%;
  height: 25%;
}

#footer {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#content {
  z-index: -1;
}


/* Description of the project */

#overlay {
  display: block;
  position: absolute;
  top: 9.5%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.6);
}

#layout-notification {
  position: absolute;
  width: 100%;
  height: 100%;
}

#layout-notification .snackbar {
  position: relative;
  width: 400px;
  top: 15%;
  left: auto;
  margin: 0 0 0 auto;
  right: 25px;
  border-radius: 5px;
  color: #1976d2;
  background-color: #bbdefb;
}

#layout-notification .snackbar_text {
  padding: 14px;
  overflow-wrap: break-word;
  width: inherit;
  color: inherit;
}

#layout-notification .value-spinner {
  position: absolute;
  top: 29%;
  left: 2%;
  font-family: fantasy;
  font-size: 10px;
  color: navy;
}

#layout-notification .mdl-snackbar {
  position: relative;
  width: 400px;
  top: -50%;
  left: auto;
  margin: 0 0 0 auto;
  right: 25px;
}

#layout-notification .mdl-snackbar.mdl-snackbar--active {
  position: relative;
  width: 400px;
  top: 5%;
  left: auto;
  margin: 0 0 0 auto;
  right: 5%;
}

#layout-notification .mdl-snackbar.alert {
  color: #d32f2f;
  background-color: #ffcdd2;
}

#layout-notification .mdl-snackbar.notification {
  color: #1976d2;
  background-color: #bbdefb;
}

#layout-notification .mdl-snackbar.warning {
  color: #ffa000;
  background-color: #fff9c4;
}

#layout-notification .mdl-snackbar .mdl-snackbar__action {
  padding: 0;
}

#layout-notification .mdl-snackbar .mdl-snackbar__text {
  padding: 14px;
  overflow-wrap: break-word;
  width: inherit;
  color: inherit;
}

#layout-notification .mdl-snackbar i {
  align-self: center;
  padding: 0 0 0 15px;
}

#layout-notification .separator {
  padding: 5px 0 5px 0;
}