@font-face {
  font-family: 'Sketch_3D';
  src: url('Sketch_3D.otf') format('opentype');
}

@font-face {
  font-family: 'Brannboll';
  src: url('BrannbollFS_PERSONAL.ttf') format('truetype');
}

#logo {
  height: 4em;
  width: auto;
  margin-left: 17%;
}

.mdl-layout-title {
  font-family: Sketch_3D;
  font-size: 5em;
}

#overlay .Brannboll {
  font-family: Brannboll;
}

.button {
  display: block;
  height: 200px;
  width: 200px;
  background: #0bdf00;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 3.2em/200px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.button {
  text-decoration: none;
}

#head {
  width: 100%;
  height: 25%;
}

#content {
  z-index: -1;
}

#buttons-in-table {
  position: absolute;
  top: 65px;
}


/* Description of the project */

#overlay {
  display: block;
  position: absolute;
  top: 9.5%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.6);
}

#layout-notification {
  position: absolute;
  width: 100%;
  height: 100%;
}

#layout-notification .snackbar {
  position: relative;
  width: 400px;
  top: 15%;
  left: auto;
  margin: 0 0 0 auto;
  right: 25px;
  border-radius: 5px;
  color: #1976d2;
  background-color: #bbdefb;
}

#layout-notification .snackbar_text {
  padding: 14px;
  overflow-wrap: break-word;
  width: inherit;
  color: inherit;
}

#spinner {
  width: 50px;
}

#layout-notification .mdl-snackbar {
  position: relative;
  width: 400px;
  top: -50%;
  left: auto;
  margin: 0 0 0 auto;
  right: 25px;
}

#layout-notification .mdl-snackbar.mdl-snackbar--active {
  position: relative;
  width: 400px;
  top: 5%;
  left: auto;
  margin: 0 0 0 auto;
  right: 5%;
}

#layout-notification .mdl-snackbar.alert {
  color: #d32f2f;
  background-color: #ffcdd2;
}

#layout-notification .mdl-snackbar.notification {
  color: #1976d2;
  background-color: #bbdefb;
}

#layout-notification .mdl-snackbar.warning {
  color: #ffa000;
  background-color: #fff9c4;
}

#layout-notification .mdl-snackbar .mdl-snackbar__action {
  padding: 0;
}

#layout-notification .mdl-snackbar .mdl-snackbar__text {
  padding: 14px;
  overflow-wrap: break-word;
  width: inherit;
  color: inherit;
}

#layout-notification .mdl-snackbar i {
  align-self: center;
  padding: 0 0 0 15px;
}

#layout-notification .separator {
  padding: 5px 0 5px 0;
}


/* footer */

#footer {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.stats-2cols .mdl-cell {
  border-right: 1px #E4E4E4 solid;
}

.stats-2cols .mdl-cell:last-child {
  border-right: none;
}

.small {
  font-size: 115%;
}

.no-margin {
  margin: 0;
}

.stats-2cols {
  width: 100%;
  padding: 11px 0 15px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

#footer h3 {
  font-size: 26px;
}

.mdl-mega-footer {
  height: 100%;
}

#vertices-edges {
  color: black;
  position: absolute;
  margin-left: 70%;
}