.button {
  display: block;
  height: 200px;
  width: 200px;
  background: #0bdf00;
  border: 2px solid rgba(33, 68, 72, 0.59);
  /*Krok 3: Style tekstu*/
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 3.2em/200px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.button {
  text-decoration: none;
}


/* Add the snack bar in the top right */

#snackbar-notification.mdl-snackbar {
  top: 0;
  left: 75.5%;
  bottom: auto;
}

#warning-icon.fa-5px {
  align-self: center;
}

#alert-icon.fa-5px {
  align-self: center;
}

#notification-icon.fa-5px {
  align-self: center;
}

#head {
  width: 100%;
  height: 20%;
}

#footer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#brand {
  align-self: center;
}


/* disabled scrollbar*/

html,
body {
  overflow: hidden;
}